<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" media="all" 
th:href="@{/css/style.css}"/>
</head>
<body>
	<h1>Edit Employee</h1>

	<form action="#" th:action="@{/editEmployee}" th:object="${employee}" method="post">
		 <input th:field=*{id} type="hidden" name="id">

		<table>
			<tr>
				<td>Name: </td>
				<td>
					<input th:field=*{name} type="text" name="name" required>
				</td>
			</tr>
			<tr>
				<td>Age: </td>
				<td>
					<input th:field=*{age} type="number" name="age" step="1" min="0" value="0" required>
				</td>
			</tr>
		</table>
		
		<input type="submit" value="Edit Employee">
	</form>

<a th:href="@{/}"><button>Go Home</button></a><br>
</body>
</html>